# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/
env/

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data outputs (pipeline)
data/bronze/**
data/warehouse/**

# Keep folder structure if desired
!data/bronze/.gitkeep
!data/warehouse/.gitkeep

.python-version
